<button class="btn btn-outline-primary btn-sm mb-2 ml-2" (click)="addNew()" *ngIf="(editEnabled | async)">Dodaj</button>
<button class="btn btn-outline-danger btn-sm mb-2 ml-2" (click)="delete()" *ngIf="(editEnabled | async)" [disabled]="!deleteEnabled">Usuń</button>

<app-contractor-table
    [contractors]="(contractors | async)"
    (selectedContractor)="selectContractor($event)">
</app-contractor-table>

<app-contractor-form
    [contractor]="selectedContractor"
    [editEnabled]="(editEnabled | async)"
    (contractorChanged)="contractorChanged($event)">
</app-contractor-form>