<form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="my-4 mx-3">

    <h2 class="mb-3">{{ driverForm.value.name ? driverForm.value.name : 'Nowy Kierowca' }}</h2>
    <div class="row">
        <div class="col-3">
            <h3 class="text-center font-weight-bold"> Kierowca </h3>
            <div class="form-group">
                <label for="name">Imie*:</label>
                <input id="name" class="form-control form-control-sm" type="text" formControlName="name">
            </div>

            <div class="form-group">
                <label for="surname">Nazwisko*:</label>
                <input id="surname" class="form-control form-control-sm" type="text" formControlName="surname">
            </div>

            <div class="form-group">
                <label for="gender">Płeć*:</label>
                <select id="gender" class="form-control form-control-sm" formControlName="gender">
                    <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="documentId">Numer Dowodu*:</label>
                <input id="documentId" class="form-control form-control-sm" type="text" formControlName="documentId">
            </div>
            
            <div class="form-group">
                <label for="drivingLicenseId">Numer prawa jazdy*:</label>
                <input id="drivingLicenseId" class="form-control form-control-sm" type="text" formControlName="drivingLicenseId">
            </div>

            <div class="form-group">
                <label for="drivingLicense">Typ prawa jazdy*:</label>
                <select id="drivingLicense" class="form-control form-control-sm" formControlName="drivingLicense">
                    <option *ngFor="let type of drivingLicenseTypes" [value]="type">{{ type }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="phone">Telefon kontaktowy*:</label>
                <input id="phone" class="form-control form-control-sm" type="text" formControlName="phone">
            </div>
        </div>
        
        <div class="col-3">
            <h3 class="text-center font-weight-bold"> Adres </h3>
            <div class="form-group">
                <label for="addressStreet">Ulica*:</label>
                <input id="addressStreet" class="form-control form-control-sm" type="text" formControlName="addressStreet">
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="addressNumber">Numer*:</label>
                    <input id="addressNumber" class="form-control form-control-sm" type="text" formControlName="addressNumber">
                </div>
                
                <div class="col-6">
                    <label for="addressLocalNumber">Nr lokalu:</label>
                    <input id="addressLocalNumber" class="form-control form-control-sm" type="text" formControlName="addressLocalNumber">
                </div>
            </div>
            
            <div class="form-group">
                <label for="addressZipCode">Kod pocztowy*:</label>
                <input id="addressZipCode" class="form-control form-control-sm" type="text" formControlName="addressZipCode">
            </div>
            
            <div class="form-group">
                <label for="addressCity">Miasto*:</label>
                <input id="addressCity" class="form-control form-control-sm" type="text" formControlName="addressCity">
            </div>
        </div>
    </div>
    
    <button class="btn btn-outline-success btn-sm" *ngIf="editEnabled" (ngSubmit)="onSubmit()">Zapisz</button>
</form>