<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="row align-items-center justify-content-center all-screen">

    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">

        <h2 class="mb-4"> {{ type === 'login' ? 'Logowanie' : 'Rejestracja' }} </h2>

        <div class="form-group">
            <label for="login">Login*:</label>
            <input id="login" class="form-control form-control-sm" type="text" formControlName="login">
        </div>
    
        <div class="form-group">
            <label for="password">Hasło*:</label>
            <input id="password" class="form-control form-control-sm" type="password" formControlName="password">
        </div>

        <div *ngIf="type === 'register'">

            <div class="form-group">
                <label for="name">Imię*:</label>
                <input id="name" class="form-control form-control-sm" type="text" formControlName="name">
            </div>

            <div class="form-group">
                <label for="surname">Nazwisko*:</label>
                <input id="surname" class="form-control form-control-sm" type="text" formControlName="surname">
            </div>

            <div class="form-group">
                <label for="privilages">Uprawnienia*:</label>
                <select id="privilages" class="form-control form-control-sm" formControlName="privilages">
                    <option [value]="true">Pełne</option>
                    <option [value]="false">Odczyt</option>
                </select>
            </div>

            <div class="form-group">
                <label for="addressStreet">Ulica*:</label>
                <input id="addressStreet" class="form-control form-control-sm" type="text" formControlName="addressStreet">
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="addressNumber">Numer*:</label>
                    <input id="addressNumber" class="form-control form-control-sm" type="text" formControlName="addressNumber">
                </div>
                
                <div class="col-6">
                    <label for="addressLocalNumber">Nr lokalu:</label>
                    <input id="addressLocalNumber" class="form-control form-control-sm" type="text" formControlName="addressLocalNumber">
                </div>
            </div>
            
            <div class="form-group">
                <label for="addressZipCode">Kod pocztowy*:</label>
                <input id="addressZipCode" class="form-control form-control-sm" type="text" formControlName="addressZipCode">
            </div>
            
            <div class="form-group">
                <label for="addressCity">Miasto*:</label>
                <input id="addressCity" class="form-control form-control-sm" type="text" formControlName="addressCity">
            </div>
        </div>
    
    
        <button class="btn btn-outline-success mt-2" (ngSubmit)="onSubmit()" [disabled]="!enableButton()">{{ type === 'login' ? 'Zaloguj' : 'Utwórz konto' }}</button>
    </div>


</form>