<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="my-4 mx-3">

    <h2 class="mb-3">{{ orderForm.value.id ? orderForm.value?.addressCity1 + ' - ' + orderForm.value?.addressCity2 : 'Nowe Zlecenie' }}</h2>
    <div class="row">
        <div class="col-3">
            <h3 class="text-center font-weight-bold"> Zlecenie </h3>

            <div class="form-group">
                <label for="contractor">Kontrahent*:</label>
                <select id="contractor" class="form-control form-control-sm" formControlName="contractor">
                    <option *ngFor="let contractor of contractors" [value]="contractor.id">{{ contractor.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="good">Ładunek*:</label>
                <select id="good" class="form-control form-control-sm" formControlName="good">
                    <option *ngFor="let good of goods" [value]="good.id">{{ good.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="driver">Kierowca*:</label>
                <select id="driver" class="form-control form-control-sm" formControlName="driver">
                    <option *ngFor="let driver of drivers" [value]="driver.id">{{ driver.name + ' ' + driver.surname }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="shipmentDate">Data wysyłki*:</label>
                <input id="shipmentDate" class="form-control form-control-sm" type="date" formControlName="shipmentDate">
            </div>
            
            <div class="form-group">
                <label for="deliveryDate">Data dostawy*:</label>
                <input id="deliveryDate" class="form-control form-control-sm" type="date" formControlName="deliveryDate">
            </div>
            
            <div class="form-group">
                <label for="price">Fracht*:</label>
                <input id="price" class="form-control form-control-sm" type="number" formControlName="price">
            </div>

            <div class="form-group">
                <label for="weight">Waga*:</label>
                <input id="weight" class="form-control form-control-sm" type="number" formControlName="weight">
            </div>

            <div class="form-group">
                <label for="palletCounter">Miejsca paletowe*:</label>
                <input id="palletCounter" class="form-control form-control-sm" type="number" formControlName="palletCounter">
            </div>
        </div>
        
        <div class="col-3">
            <h3 class="text-center font-weight-bold"> Załadunek </h3>
            <div class="form-group">
                <label for="addressStreet1">Ulica*:</label>
                <input id="addressStreet1" class="form-control form-control-sm" type="text" formControlName="addressStreet1">
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="addressNumber1">Numer*:</label>
                    <input id="addressNumber1" class="form-control form-control-sm" type="text" formControlName="addressNumber1">
                </div>
                
                <div class="col-6">
                    <label for="addressLocalNumber1">Nr lokalu:</label>
                    <input id="addressLocalNumber1" class="form-control form-control-sm" type="text" formControlName="addressLocalNumber1">
                </div>
            </div>
            
            <div class="form-group">
                <label for="addressZipCode1">Kod pocztowy*:</label>
                <input id="addressZipCode1" class="form-control form-control-sm" type="text" formControlName="addressZipCode1">
            </div>
            
            <div class="form-group">
                <label for="addressCity1">Miasto*:</label>
                <input id="addressCity1" class="form-control form-control-sm" type="text" formControlName="addressCity1">
            </div>
        </div>

        <div class="col-3">
            <h3 class="text-center font-weight-bold"> Rozladunek </h3>
            <div class="form-group">
                <label for="addressStreet2">Ulica*:</label>
                <input id="addressStreet2" class="form-control form-control-sm" type="text" formControlName="addressStreet2">
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="addressNumber2">Numer*:</label>
                    <input id="addressNumber2" class="form-control form-control-sm" type="text" formControlName="addressNumber2">
                </div>
                
                <div class="col-6">
                    <label for="addressLocalNumber2">Nr lokalu:</label>
                    <input id="addressLocalNumber2" class="form-control form-control-sm" type="text" formControlName="addressLocalNumber2">
                </div>
            </div>
            
            <div class="form-group">
                <label for="addressZipCode2">Kod pocztowy*:</label>
                <input id="addressZipCode2" class="form-control form-control-sm" type="text" formControlName="addressZipCode2">
            </div>
            
            <div class="form-group">
                <label for="addressCity2">Miasto*:</label>
                <input id="addressCity2" class="form-control form-control-sm" type="text" formControlName="addressCity2">
            </div>
        </div>
    </div>
    
    <button class="btn btn-outline-success btn-sm" *ngIf="editEnabled" (ngSubmit)="onSubmit()">Zapisz</button>
</form>