<button class="btn btn-outline-primary btn-sm mb-2 ml-2" (click)="addNew()" *ngIf="(editEnabled | async)">Dodaj</button>
<button class="btn btn-outline-danger btn-sm mb-2 ml-2" (click)="delete()" *ngIf="(editEnabled | async)" [disabled]="!deleteEnabled">Usuń</button>

<app-driver-table
    [drivers]="(drivers | async)"
    (selectedDriver)="selectDriver($event)">
</app-driver-table>

<app-driver-form
    [driver]="selectedDriver"
    [editEnabled]="(editEnabled | async)"
    (driverChanged)="driverChanged($event)">
</app-driver-form>