<mat-toolbar color="darkgrey"> 
  <mat-toolbar-row>
      <span class="px-5">Internetowe Bazy Danych</span>
      <div *ngIf="(authenticated | async)">
        <a mat-button [routerLink]="'/orders'"> Zlecenia </a>
        <a mat-button [routerLink]="'/contractors'"> Kontrahenci </a>
        <a mat-button [routerLink]="'/drivers'"> Kierowcy </a>
        <a mat-button [routerLink]="'/goods'"> Ładunki </a>
        <ng-container *ngIf="(canEdit | async)">
          <a mat-button [routerLink]="'/auth/register'"> Rejestracja </a>
        </ng-container>
      </div>
      <div style="flex: 1 1 auto" *ngIf="(authenticated | async)"></div>
      <div class="float-right mx-5" *ngIf="(authenticated | async)">
        <a mat-button class="btn btn-danger btn-sm" [routerLink]="'/auth/login'" (click)="logout()"> Wyloguj </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>

<div id="container" class="mx-5 my-3" style="height: 80vh;">
      <router-outlet></router-outlet>
</div>