<ejs-grid
    [dataSource]="contractors"
    [allowPaging]="true"  [pageSettings]="{ pageSizes: ['All', 3, 5, 8, 10, 15], pageSize: 5 }"
    [allowSorting]="true" [sortSettings]="{ columns: [{ field: 'name', direction: 'Ascending' }] }"
    [allowFiltering]="true" [filterSettings]="{ type: 'Menu' }"
    [toolbar]="['Search']"
    (rowSelected)="selectContractor($event)">
    <e-columns>
        <e-column field='id' headerText='ID' isPrimaryKey="true" [visible]="false"></e-column>
        <e-column field='name' headerText='Nazwa'></e-column>
        <e-column field='nip' headerText='Nip'></e-column>
        <e-column field='phone' headerText='Nr telefonu'></e-column>
        <e-column field='email' headerText='Email'></e-column>
    </e-columns>
</ejs-grid>