<form [formGroup]="contractorForm" (ngSubmit)="onSubmit()" class="my-4 mx-3">

    <h2 class="mb-3">{{ contractorForm.value.name ? contractorForm.value.name : 'Nowy Kontrahent' }}</h2>
    <div class="row">
        <div class="col-3">            
            <h3 class="text-center font-weight-bold"> Kontrahent </h3>
            <div class="form-group">
                <label for="name">Nazwa*:</label>
                <input id="name" class="form-control form-control-sm" type="text" formControlName="name">
            </div>
            
            <div class="form-group">
                <label for="nip">NIP*:</label>
                <input id="nip" class="form-control form-control-sm" type="text" formControlName="nip">
            </div>
            
            <div class="form-group">
                <label for="phone">Telefon kontaktowy*:</label>
                <input id="phone" class="form-control form-control-sm" type="text" formControlName="phone">
            </div>
            
            <div class="form-group">
                <label for="email">Email*:</label>
                <input id="email" class="form-control form-control-sm" type="text" formControlName="email">
            </div>
        </div>

        <div class="col-3">
            <h3 class="text-center font-weight-bold"> Adres </h3>
            <div class="form-group">
                <label for="addressStreet">Ulica*:</label>
                <input id="addressStreet" class="form-control form-control-sm" type="text" formControlName="addressStreet">
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="addressNumber">Numer*:</label>
                    <input id="addressNumber" class="form-control form-control-sm" type="text" formControlName="addressNumber">
                </div>
                
                <div class="col-6">
                    <label for="addressLocalNumber">Nr lokalu:</label>
                    <input id="addressLocalNumber" class="form-control form-control-sm" type="text" formControlName="addressLocalNumber">
                </div>
            </div>
            
            <div class="form-group">
                <label for="addressZipCode">Kod pocztowy*:</label>
                <input id="addressZipCode" class="form-control form-control-sm" type="text" formControlName="addressZipCode">
            </div>
            
            <div class="form-group">
                <label for="addressCity">Miasto*:</label>
                <input id="addressCity" class="form-control form-control-sm" type="text" formControlName="addressCity">
            </div>
        </div>
    </div>

    <button class="btn btn-outline-success btn-sm" *ngIf="editEnabled" (ngSubmit)="onSubmit()">Zapisz</button>
</form>