<ejs-grid
    [dataSource]="orders"
    [allowPaging]="true"  [pageSettings]="{ pageSizes: ['All', 3, 5, 8, 10, 15], pageSize: 5 }"
    [allowSorting]="true" [sortSettings]="{ columns: [{ field: 'shipmentDate', direction: 'Descending' }] }"
    [allowFiltering]="true" [filterSettings]="{ type: 'Menu' }"
    [toolbar]="['Search']"
    (rowSelected)="selectOrder($event)">
    <e-columns>
        <e-column field='id' headerText='ID' isPrimaryKey="true" [visible]="false"></e-column>
        <e-column field='sourceAddress.city' headerText='Załadunek'></e-column>
        <e-column field='destinationAddress.city' headerText='Rozładunek'></e-column>
        <e-column field='shipmentDate' type="date" format="dd.MM.yyyy" headerText='Data wysyłki'></e-column>
        <e-column field='deliveryDate' type="date" format="dd.MM.yyyy" headerText='Data dostawy'></e-column>
        <e-column field='weight' headerText='Waga'></e-column>
        <e-column field='palletCounter' headerText='M. paletowe'></e-column>
        <e-column field='price' headerText='Fracht'></e-column>
        <e-column field='contractor.name' headerText='Kontrahent'></e-column>
        <e-column field='good.name' headerText='Ładunek'></e-column>
        <e-column field='driver.surname' headerText='Kierowca'></e-column>
        <e-column field='user.surname' headerText='Spedytor'></e-column>
    </e-columns>
</ejs-grid>