<button class="btn btn-outline-primary btn-sm mb-2 ml-2" (click)="addNew()" *ngIf="(editEnabled | async)">Dodaj</button>
<button class="btn btn-outline-danger btn-sm mb-2 ml-2" (click)="delete()" *ngIf="(editEnabled | async)" [disabled]="!deleteEnabled">Usuń</button>

<app-order-table
    [orders]="(orders | async)"
    (selectedOrder)="selectOrder($event)">
</app-order-table>

<app-order-form
    [order]="selectedOrder"
    [contractors]="(contractors | async)"
    [goods]="(goods | async)"
    [drivers]="(drivers | async)"
    [user]="user"
    [editEnabled]="(editEnabled | async)"
    (orderChanged)="orderChanged($event)">
</app-order-form>