<form [formGroup]="goodForm" (ngSubmit)="onSubmit()" class="my-4 mx-3">

    <h2 class="mb-3">{{ goodForm.value.name ? goodForm.value.name : 'Nowy Ładunek' }}</h2>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="name">Nazwa*:</label>
                <input id="name" class="form-control form-control-sm" type="text" formControlName="name">
            </div>

            <div class="form-group">
                <label for="adr">Adr:</label>
                <select id="adr" class="form-control form-control-sm" formControlName="adr">
                    <option [value]="''">Brak</option>
                    <option *ngFor="let adr of adrs" [value]="adr.id">{{ adr.number }}</option>
                </select>
            </div>

        </div>
    </div>
    
    <button class="btn btn-outline-success btn-sm" *ngIf="editEnabled" (ngSubmit)="onSubmit()">Zapisz</button>
</form>