<button class="btn btn-outline-primary btn-sm mb-2 ml-2" (click)="addNew()" *ngIf="(editEnabled | async)">Dodaj</button>
<button class="btn btn-outline-danger btn-sm mb-2 ml-2" (click)="delete()" *ngIf="(editEnabled | async)" [disabled]="!deleteEnabled">Usuń</button>
        
<div class="row">
    <div class="col-6">
        <app-good-table
            [goods]="(goods | async)"
            (selectedGood)="selectGood($event)">
        </app-good-table>
        
        <app-good-form
            [good]="selectedGood"
            [adrs]="(adrs | async)"
            [editEnabled]="(editEnabled | async)"
            (goodChanged)="goodChanged($event)">
        </app-good-form>
    </div>
    <div class="col-6">
        <ejs-grid [dataSource]="(adrs | async)"
        [allowPaging]="true" [pageSettings]="{ pageSizes: ['All', 3, 5, 8, 10, 15], pageSize: 5 }"
        [allowSorting]="true" [sortSettings]="{ columns: [{ field: 'number', direction: 'Ascending' }] }"
        [allowFiltering]="true" [filterSettings]="{ type: 'Menu' }"
        [toolbar]="['Search']"
        (rowSelected)="selectAdr($event)">
            <e-columns>
                <e-column field='id' headerText='ID' isPrimaryKey="true" [visible]="false"></e-column>
                <e-column field='number' headerText='ADR'></e-column>
            </e-columns>
        </ejs-grid>
        <div class="mx-3">
            <h2 class="mb-3 mt-4">ADR</h2>
            <label for="description">Opis:</label>
            <div class="from-group">
                <textarea id="description" class="col-6 form-control form-control-sm" disabled [innerHTML]="selectedAdr?.description">
                </textarea>
            </div>
        </div>
    </div>
</div>