<ejs-grid
    [dataSource]="drivers"
    [allowPaging]="true"  [pageSettings]="{ pageSizes: ['All', 3, 5, 8, 10, 15], pageSize: 5 }"
    [allowSorting]="true" [sortSettings]="{ columns: [{ field: 'surname', direction: 'Ascending' }] }"
    [allowFiltering]="true" [filterSettings]="{ type: 'Menu' }"
    [toolbar]="['Search']"
    (rowSelected)="selectDriver($event)">
    <e-columns>
        <e-column field='id' headerText='ID' isPrimaryKey="true" [visible]="false"></e-column>
        <e-column field='name' headerText='Imie'></e-column>
        <e-column field='surname' headerText='Nazwisko'></e-column>
        <e-column field='documentId' headerText='Nr dowodu'></e-column>
        <e-column field='drivingLicenseId' headerText='Nr prawa jazdy'></e-column>
        <e-column field='drivingLicense' headerText='Typ prawa jazdy'></e-column>
        <e-column field='phone' headerText='Nr telefonu'></e-column>
    </e-columns>
</ejs-grid>